*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: linear-gradient(to bottom, #4f008a, #b149bb);
    min-height: 100vh;
}

h1 {
    text-align: center;
    margin-top: 50px;
    padding-top: 50px;
    color: aliceblue;
    text-transform: uppercase;
    font-family: sans-serif;
}

.wrapper {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.piano {
    display: flex;
}

.key {
    height: calc(var(--width) *4);
    width: var(--width);
    transition: background-color 0.2s ease;
    position: relative;
}